.content_container {
    text-align: center;
}

.content {
    text-align: center;
    height: auto;
    width: 48%;
    display: inline-block;
    border: 2px solid #0000bf;
    background-color: white;
    padding: 10px 21px 10px 21px;
    margin-top: 5px;
    border-radius: 15px;
    color: #000000;
    font-size: 16px;
    font-family: Sylfaen, "Georgia", "Consolas", "Menlo", "Courier", serif;
    white-space: pre-line;
}

.welcome_header {
    font-family: 'Consolas', 'Georgia', sans-serif;
}