.post_container {
    text-align: center;
}

.post {
    text-align: justify;
    height: auto;
    width: 48%;
    display: inline-block;
    border: 2px solid #0000bf;
    padding: 0px 21px 10px 21px;
    margin-top: 5px;
    background: -webkit-linear-gradient(#00fafa, white, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00fafa, white, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00fafa, white, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00fafa, white, yellow); /* Standard syntax */
    font-size: 17px;
    font-family: Georgia, Arial, "Times New Roman", Consolas, serif;
    font-stretch: expanded;
    white-space: pre-line;
}

p.post_title {
    font-size: 20px;
    font-family: Georgia, Arial, "Times New Roman", Consolas, serif;
    text-align: center;
}

.comment {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    background-color: silver;
    text-align: center;
    border: 3px ridge darkslategrey;
}

img.horizontal {
    width: 90%;
    height: auto;
    margin: 5px 25px 5px 30px;
    display: inline;
    text-align: center;
}

.comments_bar {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    background-color: silver;
    text-align: center;
    border: 3px ridge darkslategrey;
}

#name_div {
    display: inline-block;
    padding: 5px;
    width: auto;
    height: inherit;
}

#name {
    width: 60%;
    height: 30px;

}

#comment_div {
    display: inline-block;
    padding: 5px;
    width: 65%;
    height: inherit;
}

#comment_txt {
    height: 30px;
    width: 70%;
}