#top_bar {
    height: 4%;
    background-color: powderblue;
}

.file {
    height: 50px;
    width: 50px;
    background-color: #FFFF00;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.right_click_menu {
    position: absolute;
    z-index:10;
}

.right_click_menu--active {
    display: block;
}