html {
    margin: 0;
    min-width: 700px;
    padding: 0;
}

body {
    background: url("../img/grid.png");
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 700px;
    overflow-y: auto;
}

a:focus {
    outline: none;
}

.clear {
    clear: both;
}

#container {
    position: relative;
    margin-top: 55px;
    width: 100%;
    left: 50%;
    margin-left: -360px;
    top: 0;
    text-align: center;
}

#top_bar_img_holder {
    width: 1800px;
    height: 56px;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;

}

#tab_holder {
    margin-top: -55px;
    width: 100%;
    height: auto;
}

ul#main-nav {
    margin-left: 20px;
    z-index: 102;
    width: 100%;
    height: auto;
    position: fixed;
}

ul#main-nav li {
    float: left;
    position: relative;
    display: inline;
    margin-left: -20px;
    font-family: "Open Sans", "Secular One", 'Times New Roman', serif;
    font-size: 2vw;
}

ul#main-nav li a {
    position: relative;
    width: 110px;
    height: 29px;
    display: block;
    background-image: url("../img/tabs.png");
    background-position: center center;
    color: #44403b;
    text-decoration: none;
    font-size: 14px;
    padding-top: 12px;
    text-align: left;
    padding-left: 30px;
    font-weight: bold;
}

ul#main-nav li.home a {
    background-image: url('../img/tab-home.png');
}

ul#main-nav li.current a {
    background-position: top;
    color: #ffffff;
}

ul#main-nav li a:hover {
    background-position: bottom;
    color: #ffffff;
}

ul#main-nav li.current a:hover {
    background-position: top; /*To Prevent the Current tab from changing colour on hover*/
    color: #ffffff;
}

ul#main-nav li.current {
    z-index: 100;
}

ul#main-nav li.home {
    z-index: 100;
}

ul#main-nav li.portfolio {
    z-index: 99;
}

ul#main-nav li.about {
    z-index: 98;
}

ul#main-nav li.contact {
    z-index: 97;
}

ul#main-nav li.blog {
    z-index: 96;
}

#image {
    position: relative;
    float: left;
    margin-left: 40px;
    margin-top: 25px;
}

#content_container {
    position: relative;
    z-index: 2;
    margin-top: 26px;
    background-color: #577295;
    background-repeat: repeat-y;
    height: auto;
    width: 620px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #ffffff;
    margin-bottom: 50px;
    margin-left: 40px;
    border-left: 6px ridge #C1C9D6;
    border-bottom: 3px solid #C1C9D6;
    border-right: 3px solid #C1C9D6;
}

#content {
    position: relative;
    text-align: center;
    padding-top: 10px;
}
#content h1 {
    font-size: 24px;
    position: relative;
    margin-bottom: 17px;
}

#content p {
    white-space:pre-wrap;
}

#featured-content{
    float: right;
    width: 322px;
    margin-top: 30px;
    margin-right: 35px;
    display: block;
}

.spacer {
    height: 55px;
 }

.header_container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 2px;
    margin-top: 6px;
    margin-bottom: -10px;
    border-top: 3px ridge #004e92;
    border-bottom: 3px ridge #004e92;
    text-align: left;
}

.header1 {
    font-family: 'Arvo', 'Times New Roman', serif;
    align-self: center;
    font-size: 50px;
    display: inline-block;
    font-stretch: condensed;
    color: #DCFFFD;
}

.header2 {
    font-family: Gravity, 'Times New Roman', serif;
    font-size: 50px;
    display: inline-block;
}

.header3 {
    font-family: "Secular One", 'Arvo', "Segoe Script", serif;
    font-weight: lighter;
    font-size: 35px;
    margin-left: 10%;
}

#profile_pic {
    border-radius: 50%;
    border: 3px ridge #00FFFF;
    width: 400px;
    height: 400px;
    margin-top: 20px;
    background: url("../photos_of_me/image2.jpg") center center no-repeat;
    background-size: cover;
    overflow: hidden;
    white-space: pre;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arvo', 'Times New Roman', serif;
}

#content .intro {
    margin-top: 25px;
    color: #ffffff;
    font-size: 14px;
    margin-right: 24px;
    margin-left: 24px;
    font-family: Candara, "Times New Roman", Georgia, serif;
}

.about_me {
    text-align: left;
    margin-top: 25px;
    color: #ffffff;
    font-size: 16px;
    margin-right: 50px;
    margin-left: 50px;
    font-family: Candara, "Times New Roman", Georgia, serif;
}