body {
    background: url("http://tommymadden.com/blog/img/new_index_bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    margin: 0 0 0 0;
    overflow-x: hidden;
}

#nav_bar {
    width: 100%;
}

.heading {
    font-family: 'Vast Shadow', 'Times New Roman', serif;
    align-self: center;
    font-size: 4vw;
    display: inline-block;
    font-stretch: condensed;
    margin-bottom: -15px;
}

#links {
    white-space: nowrap;
}

.link {
    color: black;
    font-family: 'Secular One', sans-serif;
    margin-left: 30px;
    padding: 10px;
    border: 4px transparent;
    background-color: transparent;
    display: inline-block;
}

.link:hover {
    transition: 0.5s ease-in-out;
    background-color: white;
    border: 3px ridge orange;

}

#blog {
    margin-right: 30px;
}

#about_me {
    white-space: nowrap;
}

#home {

}

.prof_imgs {
    display: inline-block;
    width: auto;
    height: 100px;
    margin: 0 15px 0 15px;
}

a {
    text-decoration: none;
    color: black;
    align-self: flex-end;
}