table {
    width: 600px;
    margin: auto;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
    text-transform: capitalize;
}

h2 {
    margin: auto;
}

.btn_search {
    height: 24px;
    width: 24px;
    display: inline-block;
    background: url('../img/ic_pageview_black_24dp/web/ic_pageview_black_24dp_1x.png');
}

.btn_remove {
    height: 24px;
    width: 24px;
    display: inline-block;
    background: url('../img/ic_close_black_24dp/web/ic_close_black_24dp_1x.png');
}
