html, body {
    margin: 0;
    padding: 0;
}

#navbar_container {
    height: 50px;
    line-height: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}

#navbar {
    width: 354%;
}

#navbar button {
    height: 30px;
    vertical-align: middle;
    background-color: #ffffff;
}

#navbar button:hover {
    background-color: #00bfbf;
}

#content {
    margin: 0 30px 45px 30px;
}

h2 {
    margin-bottom: -8px;
}