#content_container {
    width: 100%;
    text-align: center;
}

#content {
    display: inline-block;
    width: 55%;
    padding: 20px;
    background-color: #FFFFFF;
    color: #000000;
    border: 4px ridge silver;
    text-align: center;
}

.input_label {

}

.input {
    display: inline-block;
    text-align: left;
    margin: 20px;
    font-family: Calibri, Candara, "Times New Roman", Georgia, serif;
    font-size: 16px;
    line-height: 20px;
}

.text_box {

}

.msg_box {
    width: 400px;
    height: 300px;
}