.post_item {
    border: 2px #00fa00;
    display: inline-block;
    text-align: center;
    width: 80%;
    height: auto;
    margin-top: 20px;
}

.post_link_img {
    width: 100%;
    border-top: 3px solid #0000bf;
    border-left: 3px solid #0000bf;
    border-right: 3px solid #0000bf;
}

.post_link_title {
    width: 100%;
    font-size: 25px;
    font-family: Georgia, Consolas, Arial, serif;
    color: #000000;
    border-left: 3px solid #0000bf;
    border-right: 3px solid #0000bf;
    border-bottom: 3px solid #0000bf;
    padding-top: 2%;
    padding-bottom: 2%;
}

.post_link_title:hover {
    color: #FFFFFF;
    border-left: 3px solid #0000bf;
    border-right: 3px solid #0000bf;
    border-bottom: 3px solid #0000bf;
}

#title_container {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#post_list_title {
    font-family: Sylfaen, serif;
    font-size: 52px;
    display: inline-block;
    border-radius: 15px;
    background: url("https://tommymadden.com/blog/img/yellow-background.jpg") no-repeat;
    background-size: cover;
    color: black;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 2px solid #0000bf;
    margin-top: 5px;
}

#title_1 {
    transition: 0.4s all ease-in-out;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(darkgrey, dimgrey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(darkgrey, dimgrey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(darkgrey, dimgrey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(darkgrey, dimgrey); /* Standard syntax */
}

#title_1:hover {
    transition: 0.4s all ease-in-out;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#title_2 {
    transition: 0.4s all ease-in-out;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(yellow, orange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(yellow, orange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(yellow, orange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(yellow, orange); /* Standard syntax */
}

#title_2:hover {
    transition: 0.4s all ease-in-out;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

a {
    text-decoration: none;
}

#left_col {
    width: 48%;
    text-align: center;
    float: left;
    margin-bottom: 100px;
}

#right_col {
    width: 48%;
    text-align: center;
    float: left;
    margin-bottom: 100px;
}