/* CSS Document */

#family-tree {
	background:url(../photos/tree-background.jpg);
	float:right;
	font-size:12px;
	height:1000px;
	width:1100px;
	overflow-x:scroll;
}

#firstGen {
	display:inline;
	height:120px;
	margin:700px 10px 20px 10px;
	overflow:auto;
}

#secondGen {
	display:inline;
	margin:10px 10px 10px 10px;
}

#thirdGen {
	display:inline;
	margin:20px 10px 10px 10px;
}

.first-gen-boy {
	background:url(../photos/first-gen-boy.png);
	height:104px;
	width:104px;
	display:block;
	text-align:center;
	position:relative;
	white-space:normal;
	float:left;
	margin:10px 10px 10px 10px;
}

.first-gen-girl {
	background:url(../photos/first-gen-girl.png);
	height:104px;
	width:104px;
	display:block;
	text-align:center;
	position:relative;
	white-space:normal;
	float:left;
	margin:10px 10px 10px 10px;
}

.second-gen-boy {
	background:url(../photos/second-gen-boy.png);
	height:104px;
	width:104px;
	display:block;
	text-align:center;
	position:relative;
	white-space:normal;
}

.second-gen-girl {
	background:url(../photos/second-gen-girl.png);
	height:104px;
	width:104px;
	display:block;
	text-align:center;
	position:relative;
	white-space:normal;
}

.third-gen-boy {
	background:url(../photos/third-gen-boy.png);
	height:104px;
	width:104px;
	display:block;
	text-align:center;
	position:relative;
	white-space:normal;
	color:#FFFFFF;
}

.third-gen-girl {
	background:url(../photos/third-gen-girl.png);
	height:104px;
	width:104px;
	display:block;
	text-align:center;
	position:relative;
	white-space:normal;
	color:#FFFFFF;
}